<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrderManagementSystem.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.vendor.css">

    @* Import AnguarJS module *@
    <script src="~/lib/angularjs/angular.min.js"></script>
    <script src="~/lib/angularjs/angular-route.js"></script>
    @* <script src="~/lib/angularjs/ui-bootstrap-tpls-2.5.0.min.js"></script> *@
    @* <script src="~/lib/angularjs/angular-animate.js"></script> *@
    <script src="~/app/core/app.module.js"></script>
    <script src="~/app/core/app.routing.js"></script>
    @* Import Angular controller *@
    <script src="~/app/pages/home/home.controller.js"></script>
    <script src="~/app/pages/login/login.controller.js"></script>
    <script src="~/app/pages/product/product.controller.js"></script>
    <script src="~/app/pages/cart/cart.controller.js"></script>
    <script src="~/app/pages/checkout/checkout.controller.js"></script>
    <script src="~/app/pages/order/order.controller.js"></script>
    <script src="~/app/pages/orderDetail/orderDetail.controller.js"></script>
    @* Import Angular service *@
    <script src="~/app/services/common.service.js"></script>
    <script src="~/app/pages/login/login.service.js"></script>
    <script src="~/app/pages/product/product.service.js"></script>
    <script src="~/app/pages/cart/cart.service.js"></script>
    <script src="~/app/pages/cart/cartDetail.service.js"></script>
    <script src="~/app/pages/checkout/checkout.service.js"></script>
    <script src="~/app/pages/order/order.service.js"></script>
    <script src="~/app/pages/order/orderStatus.service.js"></script>
    <script src="~/app/pages/orderDetail/orderDetail.service.js"></script>
    @* Import Angular filter *@
    <script src="~/app/filters/searchIgnoreVietnameseCharacter.filter.js"></script>
    @* Import lodash *@
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</head>
<body ng-app="app">
   @RenderBody()
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
