.login-view{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login-view .alert-danger{
    font-size: 13px;
}
.card-login{

}

.card-login .card-header p{
    margin: 0;
    font-size: 26px;
    font-weight: 600;
}

.card-login  .card-body{
    padding: 0 50px;
}

.card-login .card-body form input[type=text]
{
    border-radius: 20px;
    margin: 15px auto;
    box-shadow: inset 0 1px 3px #ddd;
    /* padding: 12px 0; */
}

.card-login .card-body form button{
    margin: 15px auto;
    border-radius: 20px;
    width: 100%;
}

.product-item{
    display: flex;
    border: 1px solid #ccc;
}
.product-item .product-image img{
    width: 150px;
}