<div ng-include="'../app/pages/layout/header.view.html'"></div>

<div class="card-list mt-3">
    <table class="table table-hover">
        <!-- <thead class="text-center">
          <tr>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Thao tác</th>
          </tr>
        </thead> -->
        <tbody>
          <tr ng-repeat="item in vm.dataSource">
            <td><img ng-src="{{item.productImageUrl}}" alt=""></td>
            <td>{{item.productName}}</td>
            <td class="text-center">{{item.productPrice | currency:"$"}}</td>
            <td><input class="form-control form-control-sm text-right" type="number" min="0" ng-model="item.quantity" ng-blur="vm.updateQuantity(item)"></td>
            <td class="text-center">{{item.productPrice * item.quantity  | currency:"$"}}</td>
            <td class="text-center"><button class="btn btn-danger btn-sm" ng-click="vm.remove(item.id)"><i class="fas fa-trash"></i></button></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center table-borderless">Tổng: {{vm.displayTotalPrice() | currency}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-2 offset-10 text-right">
          <button class="btn btn-primary" ng-click="vm.goToCheckoutPage()">Đặt hàng</button>
        </div>
      </div>
</div>