<div ng-include="'../app/pages/layout/header.view.html'"></div>

<h4 class="my-3">Thanh toán</h4>
<div class="form-checkout">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      
    </div>
  </div>
    <form>
        <div class="row">
            <div class="col-md-6 mb-3">
              <label for="customerName">Tên khách hàng</label>
              <input type="text" class="form-control" id="customerName" placeholder="" value="" required="" ng-model="vm.userInfo.name">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="" value="" required="" ng-model="vm.userInfo.email">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="customerPhone">Số điện thoại</label>
              <input type="text" class="form-control" id="customerPhone" placeholder="" value="" required="" ng-model="vm.userInfo.phone">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="customerAddress">Địa chỉ</label>
              <input type="text" class="form-control" id="customerAddress" placeholder="" value="" required="" ng-model="vm.userInfo.address">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Ghi chú</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="btn btn-primary" ng-click="vm.checkout()">Xác nhận thông tin & đặt hàng</button>
            </div>
          </div>
    </form>
</div>
